# Ignore bundler config.
/.bundle

# Ignore log files and temp files.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore database files.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore storage (Active Storage)
/storage/*
!/storage/.keep

# Ignore node modules
/node_modules

# Ignore Yarn and NPM
/yarn-error.log
/package-lock.json
/pnpm-lock.yaml

# Ignore compiled files
/public/assets
/public/packs
/public/packs-test
/public/uploads

# Ignore credentials and master key
/config/credentials.yml.enc
/config/master.key

# Ignore environment variables
.env
.env.*

# VS Code settings (optionnel)
/.vscode

# Mac OS files
.DS_Store

# Byebug command history
.byebug_history
