/*
 * This is a manifest file that'll be compiled into application.css.
 */

/* Déclare d'abord la font */
@font-face {
  font-family: 'Monaco';
  src: url('/Monaco.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Puis applique-la */
body {
  font-family: 'Menlo', 'Monaco', 'Courier New', Courier, monospace;
  background-color: #F9FAFB;
  color: #374151;
}
